{{ define "head" }}
    {{ if .LinkNext }}
    <link rel="next" href="{{ .LinkNext }}" />
    {{ end }}
    {{ if .LinkPrev }}
    <link rel="prev" href="{{ .LinkPrev }}" />
    {{ end }}
    {{ if .ParentUrl }}
    <link rel="index" href="{{ .ParentUrl }}" />
    {{ end }}
    <link rel="stylesheet" type="text/css" href="{{ .Prefix }}/?static/style.css" />
{{ end }}
{{ define "body" }}

    <header>
        <nav>
            <h1 class="path">
                {{ range .BreadCrumbs -}}
                    <a href="{{ .Url }}" title="{{ .Title }}">{{ .Title }}</a>
                {{- end -}}
				<span>{{ .ItemCount }}&gt;</span>
            </h1>
            <div class="toolbar">
				<span class="title">order:</span>
				<span class="buttons">
				{{- if .LinkOrderAsc -}}
				<a {{ if not .IsReversed -}}
					class="current"
				{{- end }} title="ascending" href="{{ .LinkOrderAsc }}">&#8595;</a>
				{{- end -}}
				{{- if .LinkOrderDesc -}}
				<a {{ if .IsReversed -}}
					class="current"
				{{- end }} title="descending" href="{{ .LinkOrderDesc }}">&#8593;</a>
				{{- end -}}
				</span>
			</div>
			<div class="toolbar">
				<span class="title">sort by:</span>
				<span class="buttons">
				{{- if .LinkSortName -}}
				<a {{ if .IsSortedByName -}}
					class="current"
				{{- end }} title="name" href="{{ .LinkSortName }}">name</a>
				{{- end -}}
				{{- if .LinkSortDate -}}
				<a {{ if not .IsSortedByName -}}
					class="current"
				{{- end }} title="date and time" href="{{ .LinkSortDate }}">date</a>
				{{- end -}}
				</span>
            </div>
        </nav>
    </header>
    <main>
    <ul>
        {{ if .ParentUrl }}
            <li>
                <a id="parentFolder" tabindex="1" class="folder" href="{{- .ParentUrl -}}">
                    <span title="{{ .ParentUrl }}">
                    <svg class="icon iconParent">
                        <use xlink:href="{{ .Prefix }}/?static/ui.svg#iconParent"></use>
                    </svg>
                    </span>
                </a></li>
        {{ end }}
        {{ range .Items }}
            <li class="{{ .Class }}"><a id="{{ .Id }}" tabindex="1"
            href="{{- .Url -}}"
            title="{{ .Name }} [{{ .ModTime | formatDate }}]">
                <span>
                    {{ if eq .Class "folder" }}
                    <svg class="icon iconFolder">
                        <use xlink:href="{{ .Thumb }}"></use>
                    </svg>

                    {{ else if .Thumb -}}
                        <img src="{{ .Thumb }}" alt="{{ .Name }}" />
                    {{- end }}

                    <span class="title"><b>{{- .Name -}}</b></span>
                </span></a></li>
        {{ end }}
    </ul>
    </main>
{{ end }}
