{{ define "head" }}
    {{ if .LinkNext }}
    <link rel="next" href="{{ .LinkNext }}" />
    {{ end }}
    {{ if .LinkPrev }}
    <link rel="prev" href="{{ .LinkPrev }}" />
    {{ end }}
    {{ if .ParentUrl }}
    <link rel="index" href="{{ .ParentUrl }}" />
    {{ end }}
    <link rel="stylesheet" type="text/css" href="{{ .Prefix }}/?static/style.css" />
{{ end }}
{{ define "body" }}

    <header>
        <nav>
            <h1 class="path">
                {{ range .BreadCrumbs -}}
                    <a href="{{ .Url }}" title="{{ .Title }}">{{ .Title }}</a>
                {{- end -}}
				<span>{{ .ItemCount }}&gt;</span>
            </h1>
            <div class="toolbar">
				<span class="title">order by:</span>
				<span class="buttons"><a {{ if not .IsReversed -}}
					class="current"
				{{- end }} href="?order/asc
			{{- if eq .SortedBy "name" -}}
                /sort/name
            {{- else -}}
                /sort/date
            {{- end -}}
                ">asc</a><a {{ if .IsReversed -}}
					class="current"
				{{- end }} href="?order/desc
			{{- if eq .SortedBy "name" -}}
                /sort/name
            {{- else -}}
                /sort/date
            {{- end -}}
                ">desc</a></span>
			</div>
			<div class="toolbar">
				<span class="title">sort by:</span>
				<span class="buttons"><a {{ if eq .SortedBy "name" -}}
					class="current"
				{{- end }} href="?sort/name
			{{- if .IsReversed -}}
			    /order/desc
			{{- else -}}
			    /order/asc
			{{- end -}}
				">name</a><a {{ if eq .SortedBy "date" -}}
					class="current"
				{{- end }} href="?sort/date
            {{- if .IsReversed -}}
			    /order/desc
			{{- else -}}
			    /order/asc
			{{- end -}}
				">date</a></span>
            </div>
        </nav>
    </header>
    <main>
    <ul>
        {{ if .ParentUrl }}
            <li>
                    <span title="{{ .ParentUrl }}{{ $.QueryString }}">
                <a id="parentFolder" tabindex="1" class="folder" href="{{- .ParentUrl -}}">
                    <svg class="icon iconParent">
                        <use xlink:href="{{ .Prefix }}/?static/ui.svg#iconParent"></use>
                    </svg>
                    </span>
                </a></li>
        {{ end }}
        {{ range .Items }}
            <li class="{{ .Class }}"><a id="{{ .Id }}" tabindex="1"
            href="{{- .Url -}}{{- $.QueryString -}}"
            title="{{ .Name }} [{{ .ModTime | formatDate }}]">
                <span>
                    {{ if eq .Class "folder" }}
                    <svg class="icon iconFolder">
                        <use xlink:href="{{ .Thumb }}"></use>
                    </svg>

                    {{ else if .Thumb -}}
                        <img src="{{ .Thumb }}" alt="{{ .Name }}" />
                    {{- end }}

                    <span class="title"><b>{{- .Name -}}</b></span>
                </span></a></li>
        {{ end }}
    </ul>
    </main>
{{ end }}
