{{ define "head" }}
<link rel="stylesheet" type="text/css" href="{{ .Prefix }}/?static/style.css" />
<script type="text/javascript">
    function readCookie(name) {
        const nameEQ = name + "=";
        const ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1, c.length);
            }
            if (c.indexOf(nameEQ) === 0) {
                return c.substring(nameEQ.length, c.length);
            }
        }
        return null;
    }
    window.addEventListener("load", function initAnyway() {
        document.querySelectorAll(".requiresJavascript").forEach(
            el => el.style.visibility = "visible");
    });
</script>
{{ if .ShowOverlay }}
<script type="text/javascript" src="{{ .Prefix }}/?static/script.js"></script>
<script type="text/javascript">
    window.addEventListener("load", findAndShow);
</script>
{{ else }}
<script type="text/javascript">
    window.addEventListener("load", function init() {
        // Try to load from url fragment
        const showCookie = readCookie("show");
        if (showCookie && showCookie === "inline" && window.location.hash !== "") {
            const fragment = document.getElementById(window.location.hash.slice(1));
            if (fragment) {
                fragment.click();
            }
        }
    });
</script>
{{ end }}
{{end}}
{{ define "body" }}

    <header>
        <nav>
            <h1 class="path">
                {{ range .BreadCrumbs -}}
                    <a href="{{ .Url }}" title="{{ .Title }}">{{ .Title }}</a>
                {{- end -}}
				<span>{{ .ItemCount }}&gt;</span>
            </h1>
			<div class="toolbar requiresJavascript">
			    <span class="title">view files:</span>
				<span class="buttons"><a {{ if eq .DisplayMode "slideshow" -}}
					class="current"
				{{- end }} onclick="window.location.href='?display/overlay';return false;"
				    href="/no_javascript?error">overlaid on page
				</a><a {{ if eq .DisplayMode "direct" -}}
					class="current"
				{{- end }} href="?display/files">as separate links</a></span>
            </div>
            <div class="toolbar">
				<span class="title">order by:</span>
				<span class="buttons"><a {{ if not .IsReversed -}}
					class="current"
				{{- end }} href="?order/asc">asc</a><a {{ if .IsReversed -}}
					class="current"
				{{- end }} href="?order/desc">desc</a></span>
			</div>
			<div class="toolbar">
				<span class="title">sort by:</span>
				<span class="buttons"><a {{ if eq .SortedBy "name" -}}
					class="current"
				{{- end }} href="?sort/name">name</a><a {{ if eq .SortedBy "date" -}}
					class="current"
				{{- end }} href="?sort/date">date</a></span>
            </div>
        </nav>
    </header>
    <main>
    <ul>
        {{ if .ParentUrl }}
            <li>
                <a tabindex="0" class="folder" href="{{- .ParentUrl -}}">
                    <span title="{{ .ParentUrl }}">
                    <svg class="icon iconParent">
                        <use xlink:href="{{ .Prefix }}/?static/ui.svg#iconParent"></use>
                    </svg>
                    </span>
                </a></li>
        {{ end }}
        {{ range .Items }}
            <li class="{{ .Class }}"><a id="{{ .Id }}" tabindex="1"
            {{ if and (ne .Class "folder") (eq $.DisplayMode "slideshow") -}}
            class="overlay"
            {{- end }}
            href="{{- .Url -}}
    {{- if and (ne .Class "folder") (eq $.DisplayMode "direct") -}}?display/slideshow{{- end -}}"
            title="{{ .Name }} [{{ .ModTime | formatDate }}]">
                <span>
                    {{ if eq .Class "folder" }}
                    <svg class="icon iconFolder">
                        <use xlink:href="{{ .Thumb }}"></use>
                    </svg>

                    {{ else if .Thumb -}}
                        <img src="{{ .Thumb }}" alt="{{ .Name }}" />
                    {{- end }}

                    <span class="title"><b>{{- .Name -}}</b></span>
                </span></a></li>
        {{ end }}
    </ul>
    </main>
    <div id="slideshow">
    <div id="slideshowOverlay">
    <a id="slideshowClose" href="#" title="close">
    <svg class="button buttonClose">
        <use xlink:href="{{ .Prefix }}/?static/ui.svg#buttonClose"></use>
    </svg>
    </a>
    <a id="slideshowNext" href="#" title="next">
    <svg class="button buttonRight">
        <use xlink:href="{{ .Prefix }}/?static/ui.svg#buttonRight"></use>
    </svg>
    </a>
    <a id="slideshowPrev" href="#" title="previous">
    <svg class="button buttonLeft">
        <use xlink:href="{{ .Prefix }}/?static/ui.svg#buttonLeft"></use>
    </svg>
    </a>
    </div>
    <div id="slideshowContents"></div>
    </div>
{{ end }}
