html, body
{
	font-family: sans-serif;
	color: black;
	background: #EDEDED;
}

a
{
	text-decoration: none;
	border-radius: 0.5em;
	color: #6871CF;
}

a.media { background: white; }
a:hover { background-color: #D6D6D6; }

a:active, a:focus
{
	background-color: #D1DDF0;
	color: cornflowerblue;
}

nav .path a
{
	color: black;
	display: inline-block;
	border-radius: 0;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: transparent;
	padding-right: 0.2em;
	max-width: 18em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

nav .path a:active { color: cornflowerblue; }

nav .path span
{
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	color: silver;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: transparent;
}

nav .path a:hover
{
	border-bottom-color: black;
	background: none;
}

nav .path a:active { border-bottom-color: cornflowerblue; }

nav .path a::after
{
	content: ' \005C';
	display: inline-block;
	padding-left: 0.2em;
}

nav .path a:only-of-type { color: silver; }
nav .path a:first-child::after,
nav .path a:last-of-type::after { content: ''; }

body > footer
{
	margin: 2em 1em;
	padding-top: 0.5em;
	color: gray;
	font-size: 0.8em;
	text-align: right;
}

footer a
{
	display: inline-block;
	padding: 0 0.2em;
	margin: 0;
}

body > footer::before
{
	content: '…(˶‾᷄ ⁻̫ ‾᷅˵)…';
	display: block;
}

main ul
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	grid-gap: 1vw;
	padding: 0;
	margin: 0;
}

main li
{
	min-width: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	justify-self: stretch;
	align-self: center;
	position: relative;
}

main li img
{
	max-width: 90%;
	padding: 5%;
	margin: 0 auto;
	object-fit: contain;
	object-position: center top;
	display: block;
}

main li a, main li a span { display: block; }

main li a
{
	width: 100%;
	height: 100%;
}

main li.folder .title
{
	position: absolute;
	left: 21%;
	width: 58%;
	top: 31%;
	height: 46%;
	color: black;
	text-align: center;
	display: flex;
	min-height: 0;
	flex: 1;
	align-items: center;
	justify-content: center;
}

main li:not(.folder) .title
{
	position: absolute;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0 0 0.5em 0.5em;
	padding: 0 3%;
	width: 94%;
	font-size: 0.8rem;
}

main .title b
{
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	max-height: 100%;
}

main li:not(.folder) .title b { font-weight: normal; }

main .video a > span::before
{
	content: "🎥";
	display: block;
	position: absolute;
	left: 0.2em;
	bottom: 0.5em;
	color: black;
	font-size: 2em;
}

header nav
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 530px)
{
	header nav { flex-direction: column; }
}

header nav h1
{
	flex-grow: 1;
	padding: 0;
	margin: 0.2em 0;
}

.toolbar
{
	color: gray;
	font-size: 0.8em;
	margin-right: 1em;
	text-align: right;
}

.toolbar a
{
	display: inline-block;
	color: black;
	background-color: silver;
	border: none;
	margin: 0.2em 0;
	padding: 0.5em 0.4em;
}

.toolbar a:hover { background-color: #D6D6D6; }

.toolbar a:active
{
	background-color: #D1DDF0;
	color: cornflowerblue;
}

.toolbar a.current
{
	background-color: gray;
	color: white;
}

.toolbar .buttons { white-space: nowrap; }

.toolbar .buttons a:first-child
{
	padding-left: 0.5em;
	border-radius: 0.5em 0 0 0.5em;
}

.toolbar .buttons a:last-child
{
	padding-right: 0.5em;
	border-radius: 0 0.5em 0.5em 0;
}

.error
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.table
{
	border: none;
	margin: 1em 0;
	border-collapse: collapse;
}

#slideshow
{
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10000;
}

#slideshowContents
{
	width: 100%;
	height: 100%;
}

#slideshow img, #slideshow video, #slideshow audio
{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%;
}

#slideshowOverlay
{
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

#slideshowOverlay a
{
	pointer-events: auto;
	float: right;
	display: inline-block;
	padding: 0.8em 0.5em;
}

#slideshowOverlay img
{
	width: 2em;
	object-fit: contain;
	object-position: center top;
}

#slideshowOverlay a:hover { background: none; }
#slideshowOverlay a:active { filter: invert(1); }
