<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}foldergal{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', name='favicon') }}" />
</head>
<body>
    <header>
    <nav>
      <h1>{% block heading %}{% if heading %}{{ heading }}{% else %}foldergal{% endif %}{% endblock %}</h1>
    </nav>
        {% block header %}{% endblock %}
    </header>
    <section class="content">
        {% block content %}{% endblock %}
    </section>
    <footer>
    {% block footer %}foldergal v{{version}}{% endblock %}
    </footer>
</body>
</html>
