<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %} - Foldergal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>
<body>
    <nav>
      <h1>{% block heading %}{% if heading %}{{ heading }}{% else %}Foldergal{% endif %}{% endblock %}</h1>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
        {% block content %}{% endblock %}
    </section>
</body>
</html>
