{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/?favicon" />
    <title>{{ if .Title -}}
        {{- .Title -}}
    {{- else -}}
            Foldergal
        {{- end }}</title>
    {{template "head" .}}
</head>
<body>
    {{template "body" .}}
    {{template "footer" .}}
</body>
</html>
{{end}}