{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block heading -%}
    <a href="{{ url_for('index', path='./') }}">#:\</a>
    {%- for part in crumbs -%}
    <a href="{{ url_for('index', path=part.as_posix()) }}">{{ part.name }}</a>
    {%- endfor -%}
     &gt;
{%- endblock %}

{% block content %}
    <ul>
        {% if parent %}
        <li>
            <a class="title-container folder" href="{{ url_for('index', path=parent) }}" title="&lt; {{ parent }}">
            <span><img src="{{ url_for('static', filename='up.svg') }}" /></span>
            <span class="title clear">..</span>
            </a>
        </li>
        {% endif %}
    {% for item in items %}
        <li>
        <a class="author-container title-container {{ 'media' if item.type == 'image' else 'folder' }}"
            href="{{ url_for('index', path=item.path) }}"
            title="
        {{- item.name -}}
        {%- if item.mdate %} [{{ item.mdate.strftime("%Y-%m-%d %H:%M:%S") }}]
        {%- endif -%}
        {%- if item.cdate != item.mdate -%}
        *
        {%- endif -%}
        ">

        <span>
        {% if item.author %}
            {% set author = item.author.name if item.author.name else item.author.uid %}
            <span class="author" title="by {{ author}}">
                {{- author -}}
            </span>
        {% else %}
            <span class="author">&nbsp;</span>
        {% endif %}
        {% if item.type == 'folder' %}
            <img src="{{ url_for('static', filename='folder.svg') }}" />
            <span class="title clear" title="{{ item.name }}">{{ item.name }}</span>
        {% endif %}
        {% if item.thumb %}
            <img src="{{ url_for('static', name='thumbs', filename=item.thumb) }}" />
            <span class="title" title="{{ item.name }}">{{ item.name }}</span>
        {% endif %}
        </span>





        </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
