{% extends 'base.html' %}

{# % block header %}
    <nav>
    {% if crumbs %}
        <ul>
        {% for crumb in crumbs %}
        <li>{{ crumb }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    Order by: date, alphabetical, natural
    </nav>
{% endblock % #}

{% block content %}
    <ul>
        {% if parent %}
        <li>
            <a href="{{ url_for('index', path=parent) }}" title="&lt; {{ parent }}">
            <span>
            <img src="{{ url_for('static', filename='up.svg') }}" />
            </span>
            <span>..</span></a>
        </li>
        {% endif %}
    {% for item in items %}
        <li>
        <a href="{{ url_for('index', path=item.path) }}" title="
        {{- item.name -}}
        {%- if item.mdate %} [{{ item.mdate.strftime("%Y-%m-%d %H:%M:%S") }}]
        {%- endif -%}
        {%- if item.cdate != item.mdate -%}
        *
        {%- endif -%}
        ">

        <span class="author-container">
        {% if item.author %}
        <span class="author">
            {{- item.author.name if item.author.name else item.author.uid -}}
        </span>
        {% endif %}
        {% if item.type == 'folder' %}
            <img src="{{ url_for('static', filename='folder.svg') }}" />
        {% endif %}
        {% if item.thumb %}
            <img src="{{ url_for('static', name='thumbs', filename=item.thumb) }}" />
        {% endif %}
        </span>

        <span>{{ item.name }}</span>



        </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
