html, body
{
	font-family: sans-serif;
	color: black;
	background: #EDEDED;
	margin: 0;
	padding: 0;
}

html
{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body { flex-grow: 1; }

a
{
	text-decoration: none;
	border-radius: 0.5em;
	color: #6871CF;
}

a.media { background: white; }
a:hover { background-color: #D6D6D6; }

a:active, a:focus
{
	background-color: #D1DDF0;
	color: cornflowerblue;
}

nav { padding: 4px 8px 0 8px; }
header, main { padding: 0 8px; }
footer { padding: 0 8px 8px 4px; }

nav .path a
{
	color: black;
	display: inline-block;
	border-radius: 0;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: transparent;
	padding-right: 0.2em;
	max-width: 18em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

nav .path a:active { color: cornflowerblue; }

nav .path span
{
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	color: silver;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: transparent;
}

nav .path a:hover
{
	border-bottom-color: black;
	background: none;
}

nav .path a:active { border-bottom-color: cornflowerblue; }

nav .path a::after
{
	content: ' \005C';
	display: inline-block;
	padding-left: 0.2em;
}

nav .path a:only-of-type { color: silver; }
nav .path a:first-child::after,
nav .path a:last-of-type::after { content: ''; }

body > footer
{
	margin: 2em 1em;
	padding-top: 0.5em;
	color: gray;
	font-size: 0.8em;
	text-align: right;
}

footer a
{
	display: inline-block;
	padding: 0 0.2em;
	margin: 0;
}

body > footer::before
{
	content: '…(˶‾᷄ ⁻̫ ‾᷅˵)…';
	display: block;
}

main > p { margin: 0 1em; }

main ul
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
	grid-gap: 1vw;
	padding: 0;
	margin: 0;
}

main li
{
	min-width: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	justify-self: stretch;
	align-self: center;
	position: relative;
}

main li img
{
	max-width: 90%;
	padding: 5%;
	margin: 0 auto;
	object-fit: contain;
	object-position: center top;
	display: block;
}

main li a, main li a span { display: block; }

main li a
{
	width: 100%;
	height: 100%;
}

main li.folder .title
{
	position: absolute;
	left: 21%;
	width: 58%;
	top: 31%;
	height: 46%;
	color: black;
	text-align: center;
	display: flex;
	min-height: 0;
	flex: 1;
	align-items: center;
	justify-content: center;
}

main li:not(.folder) .title
{
	position: absolute;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0 0 0.5em 0.5em;
	padding: 0 3%;
	width: 94%;
	font-size: 0.8rem;
}

main .title b
{
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	max-height: 100%;
}

main li:not(.folder) .title b { font-weight: normal; }

main .video:not(.nothumb) a > span::before,
main .audio:not(.nothumb) a > span::before
{
	display: block;
	position: absolute;
	left: 0;
	top: 1em;
	font-size: 2em;
	background-color: rgba(237, 237, 237, 0.8);
	border-bottom-right-radius: 0.2em;
	border-top-right-radius: 0.2em;
	padding: 0.2em;
}

main .audio:not(.nothumb) a > span::before { content: "🔈"; }
main .video:not(.nothumb) a > span::before { content: "🎥"; }

header nav
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 530px)
{
	header nav { flex-direction: column; }
}

header nav h1
{
	flex-grow: 1;
	padding: 0;
	margin: 0.2em 0;
}

.toolbar
{
	color: gray;
	font-size: 0.8em;
	margin-right: 1em;
	text-align: right;
}

.toolbar a
{
	display: inline-block;
	color: black;
	background-color: silver;
	border: none;
	margin: 0.2em 0;
	padding: 0.5em 0.4em;
}

.toolbar a:hover { background-color: #D6D6D6; }

.toolbar a:active
{
	background-color: #D1DDF0;
	color: cornflowerblue;
}

.toolbar a.current
{
	background-color: gray;
	color: white;
}

.toolbar .buttons { white-space: nowrap; }

.toolbar .buttons a:first-child
{
	padding-left: 0.5em;
	border-radius: 0.5em 0 0 0.5em;
}

.toolbar .buttons a:last-child
{
	padding-right: 0.5em;
	border-radius: 0 0.5em 0.5em 0;
}

.error
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.table
{
	border: none;
	margin: 1em 0;
	border-collapse: collapse;
}

#slideshowPrev, #slideshowNext, #slideshowParent
{
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 10%;
	height: 64px;
	width: 64px;
}

#slideshowNext
{
	left: auto;
	text-align: right;
	right: 0;
}

#slideshowParent
{
	top: 0;
	left: 20%;
	width: 60%;
	text-align: center;
	color: gray;
}

#slideshowParent span
{
	display: inline-block;
	background: rgb(75, 75, 75);
	border-radius: 4px;
	padding: 4px;
	margin-top: 4px;
}

#slideshow
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	left: 0;
	top: 0;
	z-index: 10000;
	pointer-events: none;
}

#slideshowContents
{
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-image: url(?static/loading.svg);
	background-repeat: no-repeat;
	background-position: center;
}

#slideshowContents.loaded { background-image: none; }
#slideshowContents picture { height: 100%; }

#slideshowContents img, #slideshowContents video, #slideshowContents audio, #slideshowContents object
{
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.waiting { cursor: progress; }

#slideshowOverlay
{
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#slideshowOverlay img
{
	width: 2em;
	object-fit: contain;
	object-position: center top;
}

#slideshow a
{
	pointer-events: all;
	background: none;
}

#slideshowOverlay a:hover { color: #ff9600; }
#slideshowOverlay a:active { color: #8000ff; }

svg.icon
{
	width: 100%;
	stroke-width: 64;
	stroke-miterlimit: 10;
	fill: #e4e4e4;
	stroke: #4b4b4b;
}

svg.button
{
	stroke-width: 14;
	width: 35px;
	height: 35px;
}

.feedIcon
{
	width: 16px;
	height: 18px;
}

@media (prefers-color-scheme: dark)
{
	html, body
	{
		color: #EDEDED;
		background: #272727;
	}
	
	a { color: #9da3e2; }
	a.media { background: black; }
	a:hover { background-color: #494949; }
	
	a:active, a:focus
	{
		background-color: #5c6a81;
		color: white;
	}
	
	nav .path a { color: silver; }
	nav .path a:hover { border-bottom-color: silver; }
	nav .path span,
				    nav .path a:only-of-type { color: #797979; }
	main li.folder .title { color: #EDEDED; }
	
	svg.icon
	{
		fill: #494949;
		stroke: #797979;
	}
}
