body
{
	font-family: sans-serif;
	color: black;
	background: #EDEDED;
}

a
{
	text-decoration: none;
	border-radius: 0.5em;
}
a.media {background: white;}

a:hover { background-color: #D6D6D6; }

a:active
{
	background-color: #D1DDF0;
	color: darkred;
}

.content ul
{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.content li
{
	display: flex;
	padding: 0.25em;
	margin: 0;
	list-style: none;
	align-items: center;
}

.content a
{
	width: 10em;
	min-height: 7em;
	display: flex;
	padding: 0.5em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
}

.content a span
{
	display: flex;
	flex-grow: 1;
	overflow-wrap: break-word;
	word-break: break-all;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.content a img
{
	width: auto;
	height: auto;
	max-height: 8em;
	max-width: 9em;
	display: inline-block;
}

.content .author-container, .content .title-container { position: relative; }

.content .author,
.content .title
{
	position: absolute;
	right: 0;
	bottom: 0;
	display: inline-block;
	color: white;
	font-size: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.content .author
{
	padding-right: 0.4em;
	width: 3.1em;
	text-align: right;
	z-index: 10;
}

.content .title
{
	left: 0;
	width: 10.4em;
	padding-left: 0.4em;
	padding-right: 3em;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0 0 0.5em 0.5em;
/* 	border-radius: 0.5em 0.5em 0 0; */
	text-align: left;
	z-index: 5;
}

.content .title.clear
{
	background: none;
	color: black;
	text-align: center;
	padding: 0;
	width: 13.5em;
}

.content .big a
{
	width: 18em;
	min-height: 14em;
}

.content .big a img
{
	max-height: 14em;
	max-width: 16em;
}
