body
{
	font-family: sans-serif;
	color: black;
	background: #EDEDED;
}

a
{
	text-decoration: none;
	border-radius: 0.5em;
}

a:hover { background-color: #D1DDF0; }

a:active
{
	background-color: #D0D0D0;
	color: darkred;
}

.content ul
{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.content li
{
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	align-items: center;
}

.content a
{
	width: 10em;
	min-height: 7em;
	display: flex;
	padding: 0.5em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
}

.content a span
{
	display: flex;
	flex-grow: 1;
	overflow-wrap: break-word;
	word-break: break-all;
	font-size: 0.8em;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.content a img
{
	width: auto;
	height: auto;
	max-height: 8em;
	max-width: 10em;
	display: inline-block;
}

.content .author-container {
    position: relative;
}

.content .author {
	position: absolute;
	right: 0;
	bottom: 20%;
	display: inline-block;
	background: rgba(78, 83, 99, 0.6);
	color: white;
	padding: 0.25em 0.5em;
	border-radius: 0.5em 0 0 0.5em;
	border: solid 1px #7B839C;
	border-right-style: none;
	font-size: 0.9em;
	font-weight: bold;
}

.content .big a
{
	width: 18em;
	min-height: 14em;
}

.content .big a img
{
	max-height: 14em;
	max-width: 16em;
}
