{{ define "head" }}
<link rel="stylesheet" type="text/css" href="{{ .Prefix }}/?static=style.css" />
{{ if .ShowOverlay }}
<script type="text/javascript" src="{{ .Prefix }}/?static=script.js"></script>
<script type="text/javascript">
    window.addEventListener("load", findAndShow);
</script>
{{ end }}
{{end}}
{{ define "body" }}

    <header>
        <nav>
            <h1 class="path">
                {{ range .BreadCrumbs -}}
                    <a href="{{ .Url }}" title="{{ .Title }}">{{ .Title }}</a>
                {{- end -}}
				<span>{{ .ItemCount }}&gt;</span>
            </h1>
			<div class="toolbar">
			    <span class="title">view files:</span>
				<span class="buttons"><a {{ if eq .Slideshow "inline" -}}
					class="current"
				{{- end }} onclick="window.location.href='?show-inline';return false;" href="/overlay_requires_javascript?error">overlaid on page</a><a {{ if ne .Slideshow "inline" -}}
					class="current"
				{{- end }} href="?show-files">as separate links</a></span>
			</div>
			<div class="toolbar">
				<span class="title">order by:</span>
				<span class="buttons"><a {{ if eq .SortedBy "name" -}}
					class="current"
				{{- end }} href="?by-name">name</a><a {{ if eq .SortedBy "date" -}}
					class="current"
				{{- end }} href="?by-date">date</a></span>
			</div>
        </nav>
    </header>
    <main>
    <ul>
        {{ if .ParentUrl }}
            <li>
                <a tabindex="0" class="folder" href="{{- .ParentUrl -}}">
                    <span><img src="{{ .Prefix }}/?static=up.svg" alt=".." title="{{ .ParentUrl }}" /></span>
                </a></li>
        {{ end }}
        {{ range .Items }}
            <li class="{{ .Class }}"><a id="{{ .Id }}" tabindex="1"
            {{ if and (ne .Class "folder") (eq $.Slideshow "inline") -}}
            class="overlay"
            {{- end }}
            href="{{- .Url -}}"
            title="{{ .Name }} [{{ .ModTime }}]">
                <span>
                    {{ if .Thumb -}}
                        <img src="{{ .Thumb }}" alt="{{ .Name }}" />
                    {{- end }}

                    <span class="title"><b>{{- .Name -}}</b></span>
                </span></a></li>
        {{ end }}
    </ul>
    </main>
    <div id="slideshow">
    <div id="slideshowOverlay">
    <a id="slideshowClose" href="#"><img src="{{ .Prefix }}/?static=close.svg" alt="x" title="close" /></a>
    <a id="slideshowNext"  href="#"><img src="{{ .Prefix }}/?static=rarr.svg" alt="&gt;" title="next" /></a>
    <a id="slideshowPrev"  href="#"><img src="{{ .Prefix }}/?static=larr.svg" alt="&lt;" title="previous" /></a>
    </div>
    <div id="slideshowContents"></div>
    </div>
{{ end }}
