{{ define "head" }}<link rel="stylesheet" type="text/css" href="{{ .Prefix }}/static?css" />{{end}}
{{ define "body" }}

    <header>
        <nav>
            <h1 class="path">
                {{ range .BreadCrumbs -}}
                    <a href="{{ .Url }}" title="{{ .Title }}">{{ .Title }}</a>
                {{- end -}}
				<span>{{ .ItemCount }}&gt;</span>
            </h1>
			<div class="toolbar">
				<span class="title">order by:</span>
				<span class="buttons"><a {{ if eq .SortedBy "name" -}}
					class="current"
				{{- end }} href="?by-name">name</a><a {{ if eq .SortedBy "date" -}}
					class="current"
				{{- end }} href="?by-date">date</a></span>
			</div>
        </nav>
    </header>
    <main>
    <ul>
        {{ if .ParentUrl }}
            <li>
                <a class="title-container folder" href="{{- .ParentUrl -}}">
                    <span><img src="{{ .Prefix }}/static?up" alt=".." title="{{ .ParentUrl }}" /></span>
                </a></li>
        {{ end }}
        {{ range .Items }}
            <li class="{{ .Class }}"><a class="title-container" href="{{- .Url -}}" title="{{ .Name }} [{{ .ModTime }}]">
                <span>
                    {{ if .Thumb -}}
                        <img src="{{ .Thumb }}" alt="{{ .Name }}" width="10em" />
                    {{- end }}

                    <span class="title">{{- .Name -}}</span>
                </span></a></li>
        {{ end }}
    </ul>
    </main>
{{ end }}
